//Главный файл стилей.

body {
  background-color: cornsilk;
  display: flex;
  justify-content: center;
}

.container {
  margin-top: 100px;
  text-align: center;
}

.country-search__input {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
}
h2,
h3 {
  margin: 0;
  padding: 0;
}
.country-search__one-country-offer {
  display: flex;
  justify-content: space-between;
}

.country-search__flag {
  margin-left: 30px;
}

.country-search__one-country-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
